html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
}

body {
	margin: 0;
	background-color: white;
}

h6 {
    margin-left: 50px;
    padding-left: 50px;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

.container {
	width: 6000px;
}

#timeframe {
	background-color: white;
	width: 6000px;
}

#key {
    background-color: white;
    margin-left: 50px;
    padding-left: 50px;
    text-align: center;
    width: 200px;
}

#key hr {
    width: 200px;
}
